# Access Dataset Sample
Access datasets path with `enum` instead of raw string.

In [146]:
import sys
sys.path.append('..')

In [147]:
import pandas as pd

from lib.types.dataset_type import DatasetType
from lib.types.source_type import SourceType

## I. Basic

In [148]:
df = pd.read_csv(DatasetType.ratings.sample_path())
df.head(5)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [149]:
[
    DatasetType.credit.original_path(),
    DatasetType.keywords.original_path(),
    DatasetType.links.original_path(),
    DatasetType.links_small.original_path(),
    DatasetType.movies_metadata.original_path(),
    DatasetType.ratings.original_path(),
    DatasetType.ratings_small.original_path(),
]

['../datasets/original/credits.csv',
 '../datasets/original/keywords.csv',
 '../datasets/original/links.csv',
 '../datasets/original/links_small.csv',
 '../datasets/original/movies_metadata.csv',
 '../datasets/original/ratings.csv',
 '../datasets/original/ratings_small.csv']

## II. More options
### a. Path
Access original path:

In [150]:

org1 = DatasetType.ratings.path(SourceType.original)
org2 = DatasetType.ratings.original_path()

org1, org2

('../datasets/original/ratings.csv', '../datasets/original/ratings.csv')

Access sample paths:

In [151]:
# sample
sample1 =DatasetType.ratings.path(SourceType.sample)
sample2 =DatasetType.ratings.sample_path()

sample1, sample2

('../datasets/sample/ratings.csv', '../datasets/samples/ratings.csv')

### b. Path with custom prefix

In [152]:
DatasetType.ratings.path(SourceType.sample, prefix="../..")

'../../datasets/sample/ratings.csv'

In [153]:
DatasetType.ratings.sample_path(prefix=".")

'./datasets/samples/ratings.csv'

In [154]:
# .. is default
DatasetType.ratings.original_path(prefix="..")

'../datasets/original/ratings.csv'