# Related Movies Recommendation

## I. Setup

In [8]:
import sys
sys.path.append('..')

In [9]:
from lib.types.dataset_type import DatasetType
import pandas as pd

In [10]:
metadata_df = pd.read_csv(DatasetType.movies_metadata.original_path())
metadata_df.sample(10)

/var/folders/g8/wgj905m158gbcnzm6q5v9y2r0000gn/T/ipykernel_19901/597785676.py:1: DtypeWarning: Columns (0,2,5,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(DatasetType.movies_metadata.original_path())

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
33981,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}]",NaN,35724,tt0499484,en,The Genius Club,"Seven geniuses, with IQs over 200, are plucked...",...,2006-01-01,0.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Solve it.,The Genius Club,False,2.5,2.0
14572,False,"{'id': 298820, 'name': 'American Pie (Spin-off...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,26123,tt1407050,en,American Pie Presents: The Book of Love,"Ten years after the first American Pie movie, ...",...,2009-06-18,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,American Pie Presents: The Book of Love,False,5.1,454.0
39804,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,94502,tt0090068,en,Starship,"Jowitt, a mercenary without recluse institutes...",...,1984-12-13,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Starship,False,5.5,4.0
28016,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,289278,tt2923652,sv,Min så kallade pappa,A daughter helps her estranged father who's lo...,...,2014-09-19,0.0,123.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,My So-Called Father,False,5.5,4.0
14249,False,NaN,450,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,63795,tt0044320,en,Abbott and Costello Meet Captain Kidd,Two hapless waiters in a tavern on the Spanish...,...,1952-12-27,0.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"It's one big roar, from shore to shore!",Abbott and Costello Meet Captain Kidd,False,6.2,7.0
9443,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,37209,tt0366996,en,The Saddest Music in the World,"In Depression-era Winnipeg, a legless beer bar...",...,2003-09-17,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Saddest Music in the World,False,7.9,18.0
13712,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,36460,tt0081110,en,The Man With Bogart's Face,"In The Man With Bogart's Face, an affectionate...",...,1980-10-03,0.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He's cool under pressure and sophisticated bet...,The Man With Bogart's Face,False,6.0,2.0
25202,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,204965,tt2499818,de,Drei Stunden,NaN,...,2013-07-24,0.0,NaN,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Drei Stunden,False,7.5,2.0
32447,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10769, '...",NaN,60850,tt0838192,de,Reine Geschmacksache,"At 52, traveling salesman Wolfgang Zenker (Edg...",...,2007-08-08,1101480.0,105.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Fashion Victims,False,6.6,8.0
6820,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,44479,tt0118125,en,The Watermelon Woman,"Cheryl, a young black lesbian, works a day job...",...,1996-09-07,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Watermelon Woman,False,8.0,2.0

## II. Train

In [11]:
from models.contentbased_model import ContentbasedModel

model = ContentbasedModel()
trained_data, movie_data = model.trainingDataBasedOnGenres(metadata_df)

In [ ]:
model.getRecommendataionbasedOnGenres("Toy Story", trained_data, movie_data)

In [ ]:
model.getRecommendationbasedOnOverview("Toy Story", trained_data, movie_data)