# RECOMMENDATION BASED ON TOP 10 MOVIES

# Set Up

In [1]:
import sys
sys.path.append('..')

In [2]:
import pandas as pd
from lib.types.source_type import SourceType
from lib.types.dataset_type import DatasetType
from lib.services.top_10_movies_analytic import Top10MoviesAnalystic
from models.contentbased_model import ContentbasedModel
from models.reRank_model import ReRankModel

# metadata = pd.read_csv(DatasetType.movies_metadata.path(source = SourceType.v2),low_memory=False)
metadata = pd.read_csv(DatasetType.movies_metadata.path(source= SourceType.v2),low_memory=False)

## 1. Top 10 Propularity

### Based on genres

In [3]:
recommend_based_on_genres = ContentbasedModel()
trained_data,movie_data = recommend_based_on_genres.trainingDataBasedOnGenres(metadata)

In [4]:
top10 = Top10MoviesAnalystic()
print(top10.top_10_based_on_popularity())
propularity_recommended_df = recommend_based_on_genres.getRecommendataionbasedOnGenres(top10.top_10_based_on_popularity()[0],trained_data,movie_data)
for i in top10.top_10_based_on_popularity()[1:]:
    print("Movies name: ", i)
    propularity_recommended_df = pd.concat([propularity_recommended_df,recommend_based_on_genres.getRecommendataionbasedOnGenres(i,trained_data,movie_data)])
propularity_recommended_df

['Minions', 'Big Hero 6', 'Deadpool', 'Guardians of the Galaxy Vol 2', 'Avatar', 'John Wick', 'Gone Girl', 'The Hunger Games Mockingjay Part 1', 'Captain America Civil War', 'Pulp Fiction']
Movies name:  Big Hero 6
Movies name:  Deadpool
Movies name:  Guardians of the Galaxy Vol 2
Movies name:  Avatar
Movies name:  John Wick
Movies name:  Gone Girl
Movies name:  The Hunger Games Mockingjay Part 1
Movies name:  Captain America Civil War
Movies name:  Pulp Fiction

    id                        title  accuracy_score
0    1                      Jumanji        0.577350
1    2             Grumpier Old Men        0.353553
2    3            Waiting to Exhale        0.288675
3    4  Father of the Bride Part II        0.500000
4    6                      Sabrina        0.353553
..  ..                          ...             ...
6   20                   Get Shorty        0.816497
7   21                      Copycat        0.500000
8   22                    Assassins        0.707107
9   23                       Powder        0.316228
10  29               Shanghai Triad        0.500000

[110 rows x 3 columns]

In [5]:
propularity_recommended_df.sort_values(by = 'accuracy_score',ascending=False)

    id                      title  accuracy_score
10  28  The City of Lost Children        0.894427
10  12                      Balto        0.866025
9   21                    Copycat        0.816497
6   20                 Get Shorty        0.816497
1    8               Sudden Death        0.816497
..  ..                        ...             ...
0    5                       Heat        0.250000
1    7               Tom and Huck        0.250000
4    5                       Heat        0.223607
0    5                       Heat        0.223607
4    5                       Heat        0.223607

[110 rows x 3 columns]

# 2. Top 10 Revenue

### Based on genres

In [6]:
top10 = Top10MoviesAnalystic()
top10movie = top10.top_10_based_on_revenue()
propularity_recommended_df = recommend_based_on_genres.getRecommendataionbasedOnGenres(top10movie[0],trained_data,movie_data)
for i in top10movie[1:]:
    print("Movies name: ", i)
    propularity_recommended_df = pd.concat([propularity_recommended_df,recommend_based_on_genres.getRecommendataionbasedOnGenres(i,trained_data,movie_data)])
propularity_recommended_df

Movies name:  Star Wars The Force Awakens
Movies name:  Titanic
Movies name:  The Avengers
Movies name:  Jurassic World
Movies name:  Furious 7
Movies name:  Avengers Age of Ultron
Movies name:  Harry Potter and the Deathly Hallows Part 2
Movies name:  Frozen
Movies name:  Iron Man 3

    id                          title accuracy_score
0    5                           Heat       0.223607
1    7                   Tom and Huck       0.447214
2    8                   Sudden Death       0.516398
3    9                      GoldenEye       0.516398
4   12                          Balto       0.258199
..  ..                            ...            ...
6   18  Ace Ventura When Nature Calls       0.288675
7   19                    Money Train       0.288675
8   22                      Assassins            0.5
9   23                         Powder       0.447214
10  28      The City of Lost Children           0.75

[82 rows x 3 columns]

# 3. Top 10 Profit

### Based on genres

In [7]:
top10 = Top10MoviesAnalystic()
top10movie = top10.top_10_based_on_profit()
propularity_recommended_df = recommend_based_on_genres.getRecommendataionbasedOnGenres(top10movie[0],trained_data,movie_data)
for i in top10movie[1:]:
    print("Movies name: ", i)
    propularity_recommended_df = pd.concat([propularity_recommended_df,recommend_based_on_genres.getRecommendataionbasedOnGenres(i,trained_data,movie_data)])
propularity_recommended_df[:-1]

/home/rotsarakkang/Documents/development/datascience/movie_recommender/movie_recommendation/notebooks/../lib/services/top_10_movies_analytic.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  cleaned_budget_df = self.movie_df[:

Movies name:  The Blair Witch Project
Movies name:  Eraserhead
Movies name:  The Way of the Dragon
Movies name:  Pink Flamingos
Movies name:  Super Size Me
Movies name:  Open Water
Movies name:  The Texas Chain Saw Massacre
Movies name:  Bambi
Movies name:  Night of the Living Dead

    id                  title accuracy_score
0   31         Twelve Monkeys       0.353553
1   46                  Se7en       0.408248
2   58       The Confessional       0.408248
3   69    From Dusk Till Dawn       0.353553
4   75              Screamers       0.408248
..  ..                    ...            ...
6   13                  Nixon       0.408248
7   15                 Casino       0.408248
8   16  Sense and Sensibility       0.408248
9   21                Copycat       0.408248
10  23                 Powder       0.258199

[99 rows x 3 columns]

# 4. Top 10 Average rating

### Based on genres

In [8]:
top10 = Top10MoviesAnalystic()
top10movie = top10.top_10_based_on_rating()
propularity_recommended_df = recommend_based_on_genres.getRecommendataionbasedOnGenres(top10movie[0],trained_data,movie_data)
for i in top10movie[1:]:
    print("Movies name: ", i)
    propularity_recommended_df = pd.concat([propularity_recommended_df,recommend_based_on_genres.getRecommendataionbasedOnGenres(i,trained_data,movie_data)])
propularity_recommended_df[:-1]

Movies name:  Burning Secret
Movies name:  Harvey
Movies name:  Yellow Rock
Movies name:  Any Day Now
Movies name:  The Man Behind The Gun
Movies name:  Brannigan
Movies name:  It Boy
Movies name:  Piedipiatti
Movies name:  Birth of the Living Dead

     id                                            title accuracy_score
0     5                                             Heat       0.288675
1     7                                     Tom and Huck       0.288675
2    10                           The American President       0.333333
3    13                                            Nixon       0.408248
4    15                                           Casino       0.408248
..  ...                                              ...            ...
5   159                                            Crumb            1.0
6   189                                         The Show            1.0
7   203                                         Unzipped            1.0
8   242                                      Hoop Dreams            1.0
9   358  The Wonderful Horrible Life of Leni Riefenstahl       0.707107

[99 rows x 3 columns]