# RECOMMENDATION BASED ON TOP 10 MOVIES

# Set Up

In [2]:
import sys
sys.path.append('..')

In [3]:
import pandas as pd
from lib.types.dataset_type import DatasetType
from lib.services.top_10_movies_analytic import Top10MoviesAnalystic
from models.contentbased_model import ContentbasedModel
from models.reRank_model import ReRankModel

metadata = pd.read_csv(DatasetType.movies_metadata.original_path(),low_memory=False)

## 1. Top 10 Propularity

### Based on genres

In [4]:
recommend_based_on_genres = ContentbasedModel()
trained_data = recommend_based_on_genres.trainingDataBasedOnGenres(metadata)

In [12]:
top10 = Top10MoviesAnalystic(metadata)
propularity_recommended_df = recommend_based_on_genres.getRecommendataionbasedOnGenres(top10.top_10_based_on_popularity()[0],trained_data)
for i in top10.top_10_based_on_popularity()[1:]:
    print("Movies name: ", i)
    propularity_recommended_df = pd.concat([propularity_recommended_df,recommend_based_on_genres.getRecommendataionbasedOnGenres(i,trained_data)])
propularity_recommended_df

Movies name:  Big Hero 6
Movies name:  Deadpool
Movies name:  Guardians of the Galaxy Vol. 2
Movies name:  Avatar
Movies name:  John Wick
Movies name:  Gone Girl
Movies name:  The Hunger Games: Mockingjay - Part 1
Movies name:  Captain America: Civil War
Movies name:  Pulp Fiction

      id                           title  accuracy_score
0   1976  One Hundred and One Dalmatians             1.0
1   2181                            Antz             1.0
2   2242                    A Bug's Life             1.0
3   3362           The Road to El Dorado             1.0
4   3865     Rugrats in Paris: The Movie             1.0
..   ...                             ...             ...
5   1116                           T-Men             1.0
6   1295                       Cape Fear             1.0
7   1597                       Incognito             1.0
8   1690                King of New York             1.0
9   2494                          Heaven             1.0

[100 rows x 3 columns]

In [14]:
propularity_recommended_df.sort_values(by = 'accuracy_score',ascending=False)

      id                     title  accuracy_score
0    161     Devil in a Blue Dress        1.000000
1    225      Death and the Maiden        1.000000
3   2364                Firewalker        1.000000
2   2061        Wrongfully Accused        1.000000
1   1932                 Condorman        1.000000
..   ...                       ...             ...
7     53             The Big Green        0.894427
5    678                      Solo        0.894427
4    324    Star Trek: Generations        0.894427
6    825          Escape from L.A.        0.894427
8   1308  Star Trek: First Contact        0.894427

[100 rows x 3 columns]